* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 100px;
    background-color:rgba(0, 132, 255, 0.621)
}

header > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.search-bar {
    border: 1px solid black;
    padding: 30px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#count-bar {
    padding: 20px;
    color: grey;
}

#results {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.result {
    background-color: lightgrey;
}

.result:hover {
    background-color: lightblue;
    cursor: pointer;
}

#disclaimer-container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#disclaimer {
    transform: translateY(-50%);
    width: 400px;
    height: 500px;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

#close-disclaimer {
    width: 90%;
    text-align: right;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    display: none;
}

#accept-alert {
    color: red;
}
